:root {
  --backgroundColor: rgb(248, 248, 248);
  --fontColor: black;
}

body {
  background-color: var(--backgroundColor);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 30px;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
  width: 400px;
  justify-self: center;
}

.navigation a {
  color: black;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

.footer {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 20px;
}

.footer p {
  font-size: 25px;
  text-align: center;
}

.form {
  border: 4px black inset;
  justify-self: center;
  display: grid;
  row-gap: 8px;
  padding: 20px;
  font-size: 15x;
}

.form button {
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  transition: all 0.4s;
}

.form button:hover {
  background-color: white;
  color: black;
}

.form textarea,
input,
option,
select {
  font-size: 15px;
  padding: 5px;
  max-width: 50vw;
  font-weight: 100;
}