.main-form {
  display: grid;
  color: white;
  font-size: calc(5px + 2vw);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.form {
  border: 4px white solid;
  display: grid;
  row-gap: 8px;
  padding: 20px;
  font-size: 15x;
}

.form button {
  font-size: 20px;
  background-color: rgb(234, 1, 1);
  padding: 10px 20px;
  transition: all 0.4s;
}

.form button:hover {
  background-color: white;
  color: rgb(234, 1, 1);
}

.form textarea,
input,
option,
select {
  font-size: 15px;
  padding: 5px;
  max-width: 50vw;
}